* {
  /* include padding and border in total width/height calculations by default */
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Be Vietnam Pro", Avenir, Helvetica, Arial, sans-serif;
}

/* GLOBAL VARIABLES */
html[data-theme="light"] {
  --cr-text-primary: rgb(17, 15, 13);
  --cr-text-contrast: rgb(255, 255, 255);
  --cr-bg-primary: rgb(255, 255, 255);
  --cr-bg-secondary: rgb(246, 248, 250);
  --cr-bg-contrast: rgb(212, 212, 212);
  --cr-primary: rgb(60, 140, 219);
  --cr-secondary: rgb(156, 147, 235);
  --cr-accent: rgb(141, 100, 226);
  --br-radius-small: 0.25rem;
  --cr-warning: rgb(255, 0, 0);
  --cr-caution: rgb(255, 165, 0);
  --cr-border-primary: rgb(208 215 222 / 70%);
  --cr-border-secondary: rgba(175, 184, 193, 0.20);
}

html[data-theme="dark"] {
  --cr-text-primary: rgb(255, 255, 255);
  --cr-text-contrast: rgb(17, 15, 13);
  --cr-bg-primary: rgb(13, 17, 23);
  --cr-bg-secondary: rgb(22, 27, 34);
  --cr-bg-contrast: rgb(119, 119, 119);
  --cr-primary: rgb(60, 140, 219);
  --cr-secondary: rgb(156, 147, 235);
  --cr-accent: rgb(141, 100, 226);
  --br-radius-small: 0.25rem;
  --cr-warning: rgb(255, 0, 0);
  --cr-caution: rgb(255, 165, 0);
  --cr-border-primary: rgb(48, 54, 61);
  --cr-border-secondary: rgba(175, 184, 193, 0.20);
}

:root {
  color: var(--cr-text-primary);
  background-color: var(--cr-bg-primary);
  transition: background-color 0.5s ease-in-out, color 0.5s ease-in-out;
}

*::-webkit-scrollbar {
width: 16px;
height: 16px
}

.invisible-scrollbar::-webkit-scrollbar {
display: none
}

*::-webkit-scrollbar-track {
background-color: var(--cr-bg-primary)
}

*::-webkit-scrollbar-thumb, *::-webkit-scrollbar-track {
border: 4px solid transparent;
background-clip: padding-box;
border-radius: 8px
}

*::-webkit-scrollbar-thumb {
background-color: var(--cr-bg-contrast);
min-height: 40px
}

*::-webkit-scrollbar-corner {
background-color: transparent
}


button {
  padding: 0.5rem 1rem;
  display: inline-block;
  appearance: none;
  user-select: none;
  background-color: var(--cr-bg-secondary);
  color: var(--cr-text-primary);
  border: 1px solid var(--cr-border-primary);
  border-radius: var(--br-radius-small);
  cursor: pointer;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.25rem;
  transition: background-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, color 0.15s ease-in-out, border-color 0.15s ease-in-out;
}

button:not(:disabled):hover {
  background-color: var(--cr-primary);
  border-color: var(--cr-primary);
  color: var(--cr-text-contrast);
}

button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

body {
  margin: 0;
  display: flex;
  position: relative;
  flex-direction: column;
  min-height: 100vh;
  min-height: 100lvh;
  width: 100vw;
  overflow-x: hidden;
  font-family: var(--font-vietnam);
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 3.75rem;
  border-bottom: 1px solid var(--cr-border-primary);
}

nav a {
  text-decoration: none;
  color: var(--cr-text-primary);
}

nav ul {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  list-style: none;
  user-select: none;
}

nav li.nav-link {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100%;
  min-width: 6rem;
  padding: 0 1rem;
}

nav li.nav-link:hover {
  background-color: var(--cr-bg-secondary);
}

nav li.right-align {
  margin-left: auto;
  min-width: 0;
  padding-right: 1rem;
  gap: 2rem;
}

svg {
  user-select: none;
  touch-action: none;
}

button.svg-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  margin: 0;
  padding: 0;
}

button.svg-button:hover {
  background-color: transparent;
  color: var(--cr-accent);
}

button.svg-button > svg {
  width: 2rem;
  height: 2rem;
}
